/* src/styles/Header.css */
.header {
    color: white;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease, padding 0.3s ease;
    position: fixed;
    top: auto;
    width: 96%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    /*font-weight: bold;*/
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.header.transparent {
    background-color: #101932;
}

.header.scrolled {
    background-color: #1c3f60;
    color: white;
    padding: 1rem 2rem;
}